@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-roboto: "Roboto";
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-roboto;
  }
  
  button {
    @apply cursor-pointer
  }
}

@utility text-shadow-base {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}


@utility shadow-drob {
  box-shadow: 0px 0px 25px 0px #00000012;
}